<!doctype html>
<html>

<head>
    <title>Gateway MAScIR</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="alert alert-danger" role="alert">
            <b>401 Unauthorized</b>
            Le nom d'utilisateur et/ou le mot de passe que vous avez fournis ne sont pas correctes !!!
        </div>
        <div class="alert alert-light" role="alert">
            Merci de contacter le constructeur pour avoir plus d'informations.
        </div>

    </div>
</body>

</html>